@use "sass:color";

// colors
$primary-color: #06d6a0;
$secondary-color: #118ab2;
$surface-color: #ffffff;
$background-color: #ffffff;
$error-color: #ef476f;

// text colors
$on-primary-color: #000000;
$on-secondary-color: #000000;
$on-surface-color: #000000;
$on-background-color: #000000;
$on-error-color: #000000;

// icons
$icon-color: color.adjust(
  $color: $on-surface-color,
  $lightness: 30%,
);

// breakpoints
$breakpoints: (
  tablet: 600px,
  large-tablet: 720px,
  xlarge-tablet: 840px,
  small-desktop: 960px,
  desktop: 1024px,
  large-desktop: 1280px,
);

// elevations
$elevations: (
  no-elevation: 0,
  status: 2,
  appbar: 4,
  bottom-bar: 4,
  scrim: 12,
  drawer: 16,
);
